body{
    font-family: 'Farro', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
  
}

#randomiserSection{
    align-self: center;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

label{
    width:30vw;
    align-self: center;
    text-align: center;
    margin-bottom: 1vh;
}

input{
    width:30vw;
    align-self: center;
    margin-bottom: 1vh;
    text-align: center;
}

button{
    width:30vw;
    align-self: center;
    margin-bottom: 5vh;
}

h1{
    font-family: 'Farro', sans-serif;
    /* text-align: center; */
    align-self: center;
}


#randomImage, #gameImage{
    height: 20vh;
    align-self: center;
}