body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: #fbfaf7;
    margin: auto;
    align-items: center;

}

#header{
    flex-direction: row;
    display: flex;
    align-self: center;
    box-sizing: border-box;
    width: 90vw;
    margin-left: 6%;
}
  
#meeplesLogo{
    width: 11vh;
    align-self: center;
}

h1{
    align-self: center;
    text-align: center; 
    margin:auto;
    font-size: 184%;
    }

  

a{
    text-decoration: none;
    color: #4A5043;
    box-sizing: border-box;
    align-self: center;
    font-size: 110%;
    padding: 1vh;
    margin-bottom: 1vw;
    }

a:hover{
    text-decoration: none;
    font-size: 4vh;
    cursor: pointer;
    }

#leaderBoardDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    padding-bottom: 2vh;
    padding-top: -2vh;
    border-radius: 3%;
    background-color: #d3f4f4;
    margin-top: -10vh;
}
    
#leaderboard{
            width: 80vw;
            text-align: center;

        }

#randomiserSection{
    align-self: center;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

label{
    width:30vw;
    align-self: center;
    text-align: center;
    margin-bottom: 1vh;
}

input{
    width:30vw;
    align-self: center;
    margin-bottom: 1vh;
    text-align: center;
}

button{
    width:30vw;
    align-self: center;
    margin-bottom: 5vh;
}


#randomImage, #gameImage{
    height: 20vh;
    align-self: center;
}

nav{
    margin-top: -10vh;
    display: flex;
    flex-direction: column;
    height: 22%;
    justify-content: space-between;
}